@using Microsoft.AspNetCore.Components

<div class="dashboard-widget @Color" title="@Tooltip">
    <div class="widget-bg" style="background-image: url('/icons/@Icon');"></div>
    <div class="widget-content">
        <div class="widget-icon">
            <img src="/icons/@Icon" alt="@Title icon" />
        </div>
        <div class="widget-info">
            <span class="widget-title">@Title</span>
            <span class="widget-value">@Value</span>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public object Value { get; set; }
    [Parameter] public string Icon { get; set; }
    [Parameter] public string Tooltip { get; set; }
    [Parameter] public string Color { get; set; } = "bg-primary";
}
